@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#content {
    display: flex;
    flex: 1;
}

header {
    background-color: #092e20;
    text-align: center;
    color: #fff;
}

aside {
    background-color: #333;
    width: 10%;
    min-width: 170px;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

#navbar li {
    display: flex;
    flex-direction: column;
}

.navlink {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 10px;
    flex: 1;
}.navlink:hover {
    background-color: #444;
}

main {
    width: 100%;
    margin: 20px 20px 20px 40px;
}

footer {
    margin-top: auto;
}

.subtitle {
    font-size: 32px;
    font-weight: 900;
}

.subtitle-2 {
    font-size: 26px;
    font-weight: 700;
    color: #097a4f;
    margin: 10px 0 0 0;
}

.paragraph {
    font-size: 20px;
    font-weight: 300;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    border: #000 1px solid;
    width: auto;
}

td a {
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
    width: 100%;
}

.list-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list-display {
    margin-right: 10px;
    width: 325px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    border: 1px #eee solid;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}.list-display:hover {
    transition-duration: 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 3px;
    font-size: 17px;
}
.list-display a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.list-display-name {
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 20%;
    flex-wrap: wrap;
}

label {
    font-size: 14px;
    font-weight: 300;
    word-wrap: break-word;
}
input {
    border-radius: 6px;
    max-width: 100%;
}

input[type="text"] {
    width: 98%;
    border: #444 1px solid;
    margin-bottom: 15px;
    height: 35px;
}input[type="text"]:focus {
    transition: all 0.1s;
    border-color: #097a4f;
    box-shadow: 0 0 5px 0px #092e20;
    outline: 0;
}

input[type="submit"] {
    border: none;
    background-color: #097a4f;
    color: #fff;
    width: 100px;
    font-size: 15px;
    align-self: flex-end;
    height: 35px;
}input[type="submit"]:hover {
    cursor: pointer;
    background-color: #079e64;
}

.output {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.checkbox *,
.checkbox ::after,
.checkbox ::before {
    box-sizing: border-box;
}

.checkbox .item .cbx {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    cursor: pointer;
}
.checkbox .item .cbx svg {
    position: relative;
    top: -1px;
    transform: scale(0);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.checkbox .item .cbx svg polyline {
    stroke-width: 2;
    stroke: #097a4f;
}
.checkbox .item .cbx:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #097a4f;
    transform: scale(0);
}
.checkbox .item .cbx:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    box-shadow: 0 -18px 0 #18cda6, 12px -12px 0 #18cda6, 18px 0 0 #18cda6, 12px 12px 0 #18cda6, 0 18px 0 #18cda6, -12px 12px 0 #18cda6, -18px 0 0 #18cda6, -12px -12px 0 #18cda6;
    transform: scale(0);
}
.checkbox .item .cbx-lbl {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}
.checkbox .item .cbx-lbl:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 1px;
    background: #9098a9;
}
.checkbox .item input {
    display: none;
}
.checkbox .item input:checked + .cbx {
    border-color: transparent;
}
.checkbox .item input:checked + .cbx svg {
    transform: scale(1);
    transition: all 0.4s ease;
    transition-delay: 0.1s;
}
.checkbox .item input:checked + .cbx:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.3s ease;
}
.checkbox .item input:checked + .cbx:after {
    transform: scale(1);
    opacity: 0;
    transition: all 0.6s ease;
}
.checkbox .item input:checked ~ .cbx-lbl {
    color: #9098a9;
}
.checkbox .item input:checked ~ .cbx-lbl:after {
    width: 100%;
    transition: all 0.4s ease;
}

li {
    list-style: none;
}

fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: #097a4f 1px solid;
    border-radius: 10px;
}
fieldset legend {
    font-weight: 300;
    color: #097a4f;
}

.to-do-list {
    padding: 0;
    max-width: 110%;
}

.out-div {
    width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.icon {
    filter: brightness(0);
    width: 32px;
    margin: 0;
}.icon:hover {
    transition: 0.1s;
    cursor: pointer;
    filter: brightness(1);
    width: 36px;
}

.delete-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}