{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block main %}
    <h2 class="subtitle">PROJECT DESCRIPTION</h2>

    <p class="paragraph">
        This is a Django project created to learn the basics of Django development. It was built by following <a href="https://www.youtube.com/watch?v=sm1mokevMWk">Tech With Tim's django tutorial series</a>.
    </p>
    <p class="paragraph">
        Checkboxes CSS copied from <a href="https://getcssscan.com/css-checkboxes-examples">getcssscan.com</a>.
    </p>
{% endblock %}