{% extends 'base.html' %}
{% load static %}
{% block title %}Lists{% endblock %}
{% block main %}
    <h2 class="subtitle">LISTS</h2>
    <section class="list-block">
        {% for list in lists %}
            <div class="out-div">
                <div class="list-display">
                    <a href="{{ list.ukey }}">
                        <h3 class="list-display-name">{{ list.name }}</h3>
                    </a>
                </div>
                <div class="delete-list">
                    <img href="{% static 'img/botao-excluir.png' %}" width="32px" height="32px">
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}