{% extends 'base.html' %}
{% load static %}
{% block title %}Lists{% endblock %}
{% block main %}
    <h2 class="subtitle">LISTS</h2>
    <section>
        <form method="POST" action="/deletelist/" class="list-block">
            {% csrf_token %}
            {% for list in lists %}
                <div class="out-div">
                    <div class="list-display">
                        <a href="{{ list.ukey }}">
                            <h3 class="list-display-name">{{ list.name }}</h3>
                        </a>
                    </div>
                    <div class="delete-list">
                        <button type="submit" value="{{ list.ukey }}" class="delete-button" name="list" on-click="confirmDelete()">
                            <img src="{% static 'mysite/img/botao-excluir.png' %}" alt="Delete icon" class="icon">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </form>
    </section>
{% endblock %}